@import "../variables/colors";
@import "../variables/breakpoints";
@import "../variables/typography";
@import "../variables/spacing";

.hero {
    background:$secondary-gradient;
    margin:var(--margin);
    display:flex;

    .text_area {
        width:50%;
        padding:var(--padding);
        box-sizing: border-box;
        display:block;

        @include large-phone {
            width:100%;
        }
    }

    .hero_image {
        width:50%;

        @include large-phone {
            display:none;
        }
    }
}

.jobs_skills_wrap {
    margin:calc(var(--margin) + var(--padding));
    display:flex;
    justify-content:space-between;

    @include large-phone {
        display:block;
    }

    .skills {
        width:45%;

        @include large-phone {
            width:100%;
        }

        .skill {
            margin-bottom:100px;
        }
    }

    .jobs {
        width:40%;
        text-align:right;
        border-right:5px $grey solid;
        padding:200px 60px 0 0;
        margin:-200px 40px 0 0;

        @include large-phone {
            width:100%;
            text-align:left;
            border:none;
        }

        .job {
            width:100%;
            margin-bottom:90px;

            &:before {
                content:'';
                width:15px;
                height:15px;
                display:inline-block;
                border-radius:30px;
                background:$white;
                border:5px $grey solid;
                margin:3px 0 0 50px;
                position:absolute;

                @include large-phone {
                    display:none;
                }
             }
            
            .title {
                font-size:1.6rem;
                margin-bottom:22px;
            }

            .date {
                font-size:1.6rem;
                font-weight:100;
                margin-bottom:25px;
            }

            .company_city {
                font-size:1.6rem;
                font-weight:100;
            }

        }
    }


}