@import "../variables/colors";
@import "../variables/animations";
@import "../variables/breakpoints";

.ArrowDownIcon {
    position:absolute;
    left:50%;
    margin-left:-16px;
    bottom:20vh;
    animation: arrowDown 4s infinite;

    svg {
        path {
            fill:$primary;
        }
    }

    @include small-laptop {
        left:var(--margin);

        svg {
            path {
                fill:$primary;
            }
        }
    }

    @include phone {
        display:none;
    }

    
}