@import "../variables/colors";
@import "../variables/animations";

.ArrowDownIcon {
    position:absolute;
    left:50%;
    margin-left:-16px;
    bottom:20vh;
    animation: arrowDown 4s infinite;

    svg {
        path {
            fill:$white;
        }
    }
}