@import "../variables/colors";
@import "../variables/breakpoints";

.footer__cta {
    width:100%;
    background:$blue-gradient;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:40vh;

    .featured__image {
        width:20vw;
        height:20vw;
        border-radius: 50%;
        margin-top:-10vw;

        @include phone {
            width:80vw;
            height:80vw;
            margin-top:-40vw;
        }
    }

    .footer__cta_quote {
        font-size:4.5rem;
        font-weight:900;
        text-align:center;
        line-height:150%;
        color:$white;
        width:50vw;
        margin:60px 0 30px 0;

        @include phone {
            width:90vw;
            font-size:2.5rem;
        }
    }

    .footer__cta_salesquestion {
        font-size:2.5rem;
        font-weight:600;
        text-align:center;
        line-height:150%;
        color:$white;
        width:50vw;

        @include phone {
            width:90vw;
            font-size:1.6rem;
        }
    }

    .footer__cta_button {
        background:$pink-gradient;
        color:$white;
        font-size:1.3rem;
        border-radius: 30px;
        padding:20px 50px;
        margin:80px 0 150px 0;
        transition: color .5s ease;
        transition:color .5s ease, background .5s ease;

        @include phone {
            margin-top:40px;
        }

        &:hover {
            color:$pink;
            background:$white;
            transition:color .5s ease, background .5s ease;
        }
    }
}