@import "../variables/colors";
@import "../variables/breakpoints";
@import "../variables/typography";

.footer {
    background:$secondary-gradient;
    margin:var(--margin);
    padding:var(--padding);
    display:flex;
    justify-content:space-between;

    @include large-phone {
        display:block;           
    }

    .contact {
        strong{
            font-size:75%;
        }
    }

    .services {
        text-align:right;

        @include large-phone {
            text-align:left;           
        }

        a {
            display:block;
            line-height:170%; 
            font-weight:100;
            font-size:var(--small-p);
           
        }
    }

    .social {
        margin-top:100px;
        text-align:right;

        @include large-phone {
            text-align:left;           
        }

        .social_icon {
            margin-left:30px;

            @include large-phone {
                margin:0 30px 0 0;           
            }
            
            svg {
                path {
                    transition:fill .5s ease;
                }
            }

            &:hover {
                svg {
                    path {
                        fill:$action;
                        transition:fill .5s ease;
                    }
                }
            }
        }
    }

    .copyright {
        margin-top:30px;
        
        p {
            font-size:1.2rem;
        }
    }

    .page_links {
        text-align:right;
        margin-top:-40px;

        @include large-phone {
            text-align:left;
            margin-top:-20px;           
        }

        .link {
            font-size:1.2rem;
            font-weight:100;
            transition:color .3s ease;
            
            &:after {
                margin:0 10px;
                content:"|";

            }

            &:hover:after {
                color:$primary;
            }

            &:last-child:after {
                margin:0;
                content:"";
            }

            &:hover {
                color:$action;
                transition:color .3s ease;
            }
        }
    }

    h2 {
        font-size:2.2rem;
        margin-bottom:15px;
    }

    a {
        text-decoration:none;
        
        p {
            margin:5px 0;
        }
    }

    p {
        font-size:var(--small-p);
        line-height:170%;

        
    }    
}