@import "../variables/colors";
@import "../variables/breakpoints";

.header {
    position:absolute;
    z-index:10;
      
    .header__logo {
        font-weight:700;
        font-size:1.7rem;
        letter-spacing: -1px;
        
        margin:70px 0 0 70px;
        
        @include phone {

            svg {
                width:50px;
                height:30px;
            }

            margin:40px 0 0 22px;
            
            span {
                    display:none;
            }
        }

        .header__logo_icon {
            margin-right:10px;          
        }
 
    }
 
    svg {
        margin-right:10px;        

    }
}

