@import "../variables/colors";
@import "../variables/breakpoints";

.header {
      
    .header__logo {
        font-weight:700;
        font-size:1.7rem;
        letter-spacing: -1px;
        position:fixed;
        margin:70px 0 0 70px;
        color:$dark-grey;

        @include phone {

            margin:30px 0 0 22px;
            
            span {
                    display:none;
            }
        }

        .header__logo_icon {
            margin-right:10px;          
        }
 
    }

   
}