@import "../variables/colors";
@import "../variables/breakpoints";

.hire__btn {
    font-size:1.5rem;
    color:$dark-grey;
    position:absolute;
    top:50px;
    right:50px;
    z-index:10;

    @include phone {
        top:26px;
        right:30px;

    }

    svg {
        margin:0 10px 0 0;
    }
}