@import "../variables/colors";
@import "../variables/breakpoints";
@import "../variables/typography";
@import "../variables/spacing";

.portfolio { // The wrapper on the portfolio detail pages.
    margin:var(--margin);  
    
    .hero {
        background:$secondary-gradient;
        padding:var(--padding);
        height:69.5vh;
        overflow:hidden;
        
        @include large-phone {
            height:100vh;
        }

        @include phone {
            height:140vh;
        }
    
        .content_wrap {
            display:flex;
            height:66vh;

            @include large-phone {
                display:block;
                height:100vh;
            }
    
            .text_area {
                width:40vw;
                align-self: flex-end;

                @include large-phone {
                    width:100%;
                    margin-top:var(--vertical-spacing-l);;
                }
    
                .website {
                    text-decoration:none;
                    font-size:var(--normal-p);
                    font-weight: 100;
            
                    &:hover {
                        color:$action;
                    }
                }
        
                .header {
                    font-size:var(--normal-title);
                    line-height:130%;
                    margin-top:var(--vertical-spacing-s);
                 
                }            
                
            }
        
            .hero_image_area {
                width:50vw;
                margin-top: -10vh;

                @include small-laptop {
                    margin-top:-5vh;        
                }

                @include large-phone {
                    width:100%;
                }

                @include phone {
                    width:130%;
                    margin-left:-15%;
                }                

                .hero_image {
                    width:90%;
                    
                    @include small-laptop {
                        width:110%;       
                    }

                    @include large-phone {
                        width:100%;
                    }
                }
        
            }
    
        }    
        
    }
    
    .introduction {
        display:flex;
        padding:var(--padding);

        @include small-laptop {
            padding:var(--padding) 0;       
        }

        @include large-phone {
            display:block;
            padding:var(--padding);
        }
    
        .text_area {
            width:50%;
            
            @include small-laptop {
                width:55%;       
            }

            @include large-phone {
                width:100%;
            }
                
        }
    
        .meta {     
            width:40%;
            margin-left:10%; 

            @include small-laptop {
                width:35%;
            }

            @include large-phone {
                width:100%;
                margin:var(--vertical-spacing-m) 0;
            }
            
            p {
                font-size:var(--small-p);
                margin-bottom:20px;
            }
    
            strong {
                width:80px;
                display: inline-block;
            }

            .role {
                
                &:before {
                    content:',';
                    margin-right:8px;
                }

                &:last-of-type:before { // This order matters for single category posts. 
                    content:'&';
                    margin-left:8px;
                }

                &:first-of-type:before { // last-of-type needs to be overwritten by first-of-type. 
                    content:'';
                    margin-right:0;
                }
                
                &:last-of-type:after {
                    content:'.';                    
                }
            }
    
            .service_links {
                margin-top:20px;
    
                .service_link {
                    display: inline-block;
                    background:$secondary;
                    padding:10px 25px;
                    border-radius: 30px;
                    font-size:var(--small-p);
                    font-weight: 100;
                    text-decoration: none;
                    margin-right:14px;
                    margin-top:15px;
                    transition: color .2s ease, background .6s ease;
        
                    &:hover {
                        background:$primary;
                        color:$white;
                        transition: color .2s ease, background .6s ease;
                    }
                }
            }
          
        }
    
    }

    .CoreHeadingBlock {
        h2 {
            font-weight:600;
            line-height:150%;
            font-size:var(--normal-title);
            margin:20vh var(--padding) 15px var(--padding);
    
            &:after {
                content:'.';
                color:$action;
            }
        }
    
        h3 {
            font-size:var(--normal-subtitle);
            margin:0 var(--padding) 50px var(--padding); 
        }
    }
    
    .CoreParagraphBlock {
        p {
            width:60vw;
            margin:0 var(--padding) 0 var(--padding);
        }
        
    }

    .image_area {
        margin:9vw 4vw 9vw 9vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3vw;
        max-width: 100%;

        @include large-phone {
            margin-bottom:150px;          
        }
        
        @include large-phone {
            display:block;
            max-width:82%;          
        }

        .introduction_image {
            box-shadow: $box-shadow;
            max-width: 100%;

            @include large-phone {
                margin-top:100px;          
            }
            
            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 2;
            }

            &:nth-child(2) {
                grid-area: 1 / 2 / 3 / 3;                    
            }
            
            &:nth-child(3) {
                grid-area: 2 / 1 / 3 / 2;
                margin-top:5px;

                @include large-phone {
                    margin-top:100px;          
                }
            }

        }

    }
    
    .quote_area {
        background:$secondary-gradient;
        font-size:var(--quote-size);
        font-weight:900;
        line-height:150%;
        margin:var(--margin);
        padding:10vw 15vw;
    }
        
    
}

// This is the component used on the homepage and portfolio category page
    
    .intro_text {
        margin:calc(var(--margin) + var(--padding));

        p {
            width:55%;

            @include small-laptop {
                width:75%;
            }
    
            @include large-phone {
                width:95%;            
            }
        }
    }

    .hero {
        background:$secondary-gradient;

        .intro_text {
            padding:var(--padding); // used on the portfolio category page
            margin:0; // resets the margin that is used on the homepage
        }
    }

       
    .hero + .portfolio_inner {
        margin-top:-25vh;
    } 

    .portfolio_inner {
        margin:calc(var(--margin) + var(--padding));
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px var(--grid-gap);

        @include large-phone {
            display:block;            
        }
        

        .portfolio_block {
            width:calc(((100vw - ((var(--margin) + var(--padding)) * 2 )) - var(--grid-gap) ) / 2 );

            @include large-phone {
                width:calc(100vw - ((var(--margin) + var(--padding)) * 2 ));            
            }
            
            h1 {
                font-size:var(--small-subtitle);
                font-weight:900;
                margin-bottom:10px;
            }

            h2 {
                font-size:var(--medium-p);
                font-weight:300;
            }

            a {
                text-decoration: none;
            }

            .image {
                width:100%;
                margin-bottom:30px;
            }

            @include large-phone {
                margin-bottom:80px;            
            }
          
            // the first image is landscape
            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 2;

                .image {
                    height:23vw;

                    @include large-phone {
                        height:60vw;            
                    }
                }

            }

            // the second image is portrait
            &:nth-child(2) {
                grid-area: 1 / 2 / 3 / 3;
                
                .image {
                    height:50vw;

                    @include large-phone {
                        height:60vw;            
                    }
                }

            }
            
            // the third image is square
            &:nth-child(3) {
                grid-area: 2 / 1 / 3 / 2;
                margin-top:-5vw;

                .image {
                    height:40vw;

                    @include large-phone {
                        height:60vw;            
                    }
                }

            }
            
        }

    }

