@import "../variables/colors";
@import "../variables/breakpoints";

.tweet {
    width:50vw;
    margin:20vh auto;

    @include phone {
        width:90vw;
    }

    .tweet__screenname {
        display:block;
        font-size:2rem;
        color:$dark-grey;

        @include phone {
            font-size:1.5rem;
        }
    }

    .tweet__text {
        font-size:5rem;
        line-height:140%;
        font-weight:900;
        margin:5vh 0;

        @include phone {
            font-size:3rem;
        }

        .tweet__text_url {
            color:$dark-grey;
            transition: color .5s ease;

            &:hover {
                color:$pink;
                transition: color .5s ease;
            }
        }
        

    }
    
    .tweet__urls {

        .tweet__url_icon {
            margin-right:20px;
            
            @include phone {
                width:25px;
            }
        }
        
        .tweet__url {
            color:$dark-grey;
            font-size:2.4rem;
            transition: color .5s ease;

            @include phone {
                font-size:1.5rem;
            }

            &:hover {
                color:$pink;
                transition: color .5s ease;
            }
        }
    }
}
