@import "../variables/colors";
@import "../variables/breakpoints";

.workitems {
    width:100%;
    display:block;
    margin:35vh 0 0 0;
    
    @include phone {
        margin-top:20vh;
    }

    .workitem {
        background:$blue-gradient;
        text-align:center;
        padding:20vh 0;
        margin-bottom:36vh;
        color:$white;
        text-shadow:$text-shadow-blue;

        .workitem__image {
            max-width:1200px;
            margin:-45vh auto 0 auto;

            border-radius:30px;

            box-shadow: 5px 7px 20px rgba(0, 116, 135, 0.3);

            @include phone {
                margin-top:-30vh;
                max-width:90vw;
            }
        }
       
        .workitem__text {
            width:40vw;
            margin:10vh auto;
            
            @include phone {
                width:90vw;
                margin:8vh auto;
            }

            .workitem__text_subtitle {
                font-size:1.8rem;
                font-weight:900;
                text-transform:uppercase;
                margin-bottom:40px;
                
            }
            
            .workitem__text_title {
                font-size:3rem;
                font-weight:300;

                @include phone {
                    font-size:1.8rem;
                }
            }
        
            
        }

        .workitem__btn {
            border:2px solid $white;
            padding:20px 80px;
            border-radius:50px;
            font-weight:500;
            font-size:1.5rem;
            transition:all .5s ease-out;
            color:$white;

            @include phone {
                font-weight:400;
                border:1px solid;
                padding:15px 50px;
            }

            &:hover {
                background:$white;
                color:$blue;
                text-shadow: none;
                transition:all .5s ease-out;
            }
        }
        
        &:nth-child(2n+0) {
            background:$white;
            margin-bottom:20vh;
            color:$dark-grey;
            text-shadow:none;
            
            .workitem__image{
                border-color:$white;
                box-shadow: 5px 7px 20px rgba(166, 166, 166, 0.3);
            }

            .workitem__btn {
                color:$dark-grey;
                border-color:$dark-grey;
                
                &:hover {
                    background:$dark-grey;
                    color:$white;
                }
            }
        }

        &:nth-child(3) {
            background:$pink-gradient;  
            color:$white;
            text-shadow:$text-shadow-pink;

            .workitem__image{
                border-color:$pink;
                box-shadow: 5px 7px 20px rgba(162, 0, 10, 0.3);
            }
            
            .workitem__btn {
                color:$white;
                border-color:$white;
                
                &:hover {
                    background:$white;
                    color:$pink;
                }
            }
        
        }

        &:nth-child(5) {
            background:$yellow;   
            color:$white;

            .workitem__image{
                border-color:$yellow;
                box-shadow: 5px 7px 20px rgba(168, 131, 0, 0.3);
            }

            .workitem__btn {
                color:$dark-grey;
                border-color:$dark-grey;
                
                &:hover {
                    background:$dark-grey;
                    color:$yellow;
                }
            }
        }

        &:last-child {
            margin-bottom:0;
        }

    }
   

}

