@import "../variables/colors";
@import "../variables/breakpoints";

.work__title {
    text-align:center;
    padding-top:25vh;

    &:after {
        content:'.';
        color:$pink;
    }
}

.work__subtitle {
    text-align:center;
    font-size:2.5rem;
    margin-bottom:30px;
    font-weight: 600;

    @include phone {
        font-size:1.8rem;
    }

}

.header {
    background:$blue-gradient;
    display: flex;
    
    .header__text {
        color:$white;
        text-shadow:$text-shadow-blue;
        width:50%;
        margin:35vh 150px 15vh 80px;

        @include phone {
            width:90vw;
            margin:20vh auto 10vh auto;
        }

        .header__text_link {
            text-transform:uppercase;
            color:$white;
            font-size:1.5rem;
            font-weight:100;
            
            @include phone {
                font-weight:400;
                font-size:1.2rem;
            }
            
        }

        .header__text_title{
            margin-top:30px;
            font-size:5rem;
            font-weight:600;
            line-height:130%;

            @include phone {
                margin-top:20px;
                font-size:3rem;
            }

        }

        .header__text_excerpt {
            font-size:2.4rem;
            margin-top:20px;

            @include phone {
                font-size:1.6rem;
                line-height: 150%;
                font-weight:400;
            }
            
        }

    }

    .header__image_wrap {
        margin-top:25vh;
        width:40%;

        @include phone {
            display:none;
        }

        .header__image_border {
            width:560px;
            height:1040px;
            background:$white;
            display:inline-block;
            position:absolute;
            border-radius: 40px;
            box-shadow: 5px 7px 20px rgba(166, 166, 166, 0.3); 

            &:after {
                content:'';
                width:30px;
                height:100px;
                display:block;
                position: absolute;
                background:$white;
                right:-10px;
                top:150px;
            }

            .header__image {
                width:500px;
                height:950px;
                margin:60px 0 0 30px;
                
                border-radius: 20px;
                            
            }

        }
        
        

    }
    

}

.bodytext {
    margin:25vh 0 20vh 0;

    @include phone {
        width:90vw;
        margin:20vh auto 15vh auto;
    }

    .bodytext__title {
        text-align:center;
        font-size:4.8rem;
        margin-top:20vh;

        @include phone {
            margin-top:10vh;
            font-size:3rem;
            text-align:left;
        }

        &:after {
            content:'.';
            color:$pink;
        }
    }
    
    .bodytext__subtitle {
        text-align:center;
        font-size:2.5rem;
        margin-top:20px;

        @include phone {
            font-size:1.8rem;
            text-align:left;
        }
    }
    
    .bodytext__paragraph {
        width:60vw;
        margin:50px auto 50px auto;
        font-size:2.3rem;

        @include phone {
            font-size:1.5rem;
            width:90vw;
            margin:30px auto 0 auto;
            text-align:left;
        }
    }

    .bodytext__learning_quote {
        font-size:4.5rem;
        font-weight:900;
        line-height:150%;
        color:$white;
        padding:20vh 20vw;
        background:$pink-gradient;
        margin:20vh 0;

        @include phone {
            width:105vw;
            margin:10vh 0 0 -10vw;
            border:0;
            font-size:2rem;
            padding:10vh 10vw;
            box-sizing: border-box;
        }
    }

}

.desktop__image {
    width:65vw;
    margin:20vh auto;

    border:40px solid $white;
    border-radius:30px;
    box-shadow: 5px 7px 20px rgba(166, 166, 166, 0.3);

    @include phone {
        width:90vw;
        border:0;
        margin:10vh auto 0 auto;
    }
}
