@import "./variables/breakpoints";

.indexheader {
    background:var(--blue);

    .text {
        width:65vw;
        margin:0 auto;
        padding:10vh;
        font-size:5vw;
        color:var(--white);
        font-weight:900;
        line-height:150%;
        box-sizing: border-box;
 
        @include small-screen {    
            width:80vw;
            text-align:left;
            font-size:10vw;
            padding:10vw 1vw 10vw 1vw;
        } 

    }
}

.showcase{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    
    .showcase__intro {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin-top:6vw; 

        @include small-screen { 
            margin-top:100px;
            margin-bottom:80px;
        }

        h1 {
            color:var(--blue);
            font-size: 2.5rem;
            font-weight: 700;
            margin:2vw;
            width:48vw;
            text-align:center;
            line-height:150%;

            
            @include small-screen {    
                width:80vw;
                text-align:left;
            }
     
        }

        h2 {
            color:var(--purple);
            text-transform: uppercase;
            font-size: 4.5rem;
            font-weight: 900;

            @include small-screen {  
                width:80vw;  
                text-align:left;
            }  
            
        }

        p {
            font-size: 2rem;
            font-weight: 200;
            line-height:170%;
            width:48vw;
            color:var(--purple);
            max-width:1000px;

            @include small-screen {    
                width:80vw;
            }
        }

    }

    .showcase__item {
        width:90vw;
        color:var(--purple);
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;  
        margin-top:10vw;

        @include small-screen {    
            width:100vw;
        }
    
        .showcase__image  {
            margin-top:-100px;
            width:48vw;
            background:var(--purple);
            padding:30px;
            border-radius: 50px;
            box-shadow: 40px 50px 50px rgba(51, 51, 51, 0.09), 60px 70px 50px rgba(51, 51, 51, 0.06);
    
            img {
                border-radius: 30px;
            }

            @include small-screen {    
                width:80vw;
                padding:20px;
             }

        }
    
        .showcase__text {
            width:30vw;
            margin:0 auto;
            padding:50px;
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            text-align:center;
            box-sizing: border-box;

            @include large-screen {    
                width:60vw;
                padding:10px;
            }

            @include small-screen {    
                width:80vw;
            }

            .showcase__url {
                font-size:1.3rem;
                margin-top:2vw;
                text-transform:uppercase;
                font-weight: 900;
            }

            .showcase__title {
                font-size:2.5rem;
                line-height:150%;
                font-weight:200;
                margin:2vw 0 2vw 0;
            }
    
            .showcase__btn {
                color:var(--purple);
                border:2px solid var(--purple);
                border-radius: 50px;
                font-size:1.8rem;
                padding:20px 50px;
                text-decoration:none;
                transition:color 0.3s ease-out;
                transition:background 0.3s ease-out;

                &:hover {
                    background:var(--purple);
                    color:var(--yellow);
                    transition:color 0.3s ease-out;
                    transition:background 0.3s ease-out;
                }

     
            }
        }
    }
}




