@import "./variables/breakpoints";

.hero {
    height:80vh;
    display:flex;
    align-items: center;
    padding:5vw;

    @include small-screen {    
        display:block;
        height:100vh; 
    }

    .hero__text {
        width:35vw;
        color:var(--purple);

        @include small-screen {    
            width:70vw;
            margin:0 auto;
            
        }

        @include phone {    
            width:85vw;
            
        }
    
        .hero__url{
            font-size:0.9rem;
            font-weight:500;
            text-transform:uppercase;
            text-decoration:none;

            @include small-screen {    
                font-size:18px;
                text-align:center;
                margin:0 auto;
                display:block;
            }

        }
        .hero__title{
            font-size:2.6vw;
            line-height:130%;
            margin:30px 0 20px 0;

            @include small-screen {    
                font-size:50px;
                text-align:center;
            }

            @include phone {    
                font-size:40px;                
            }

        }
        .hero__excerpt{
            font-weight:100;
            font-size:1.3vw;
            line-height:170%;
            width:80%;

            @include small-screen {    
                font-size:22px;
                text-align:center;
                width:100%;
            }

        }    
    }

    .hero__image{
        width:28vw;
        margin:40vh auto 0 auto;
        background:var(--purple);
        padding:1.3vw;
        border-radius: 50px;
        box-shadow: 40px 50px 50px rgba(51, 51, 51, 0.09), 60px 70px 50px rgba(51, 51, 51, 0.06);

        img {
            border-radius: 30px;
        }

        @include small-screen {    
            margin:10vh auto 0 auto;
            width:70vw;
            padding:20px;

        }

        @include phone {    
            
            width:80vw;
            
        }

    }
}