$primary:#050041;

$secondary:#E9FBFF;
$secondary-gradient:linear-gradient(132.23deg, rgba(255, 255, 255, 0) -7.92%, rgba(156, 222, 242, 0.5) 98.86%), #E9FBFF;  

$action:#FE5862;
$action-gradient:linear-gradient(159.13deg, #FF5C97 10.8%, rgba(254, 88, 98, 0) 83.19%), #FE5862; 

$grey:#bdbdbd;

$white:#ffffff;

$box-shadow:5px 7px 20px rgba(166, 166, 166, 0.3);

html {
  color:$primary;
}

a {
  color:$primary;
  transition: color .5s ease;

  &:hover {
    transition: color .5s ease;
    color:$action;
  }

  &:visited {
    color:$primary;
  }
}