@import "../../variables/colors";
@import "../../variables/breakpoints";
@import "../../variables/typography";
@import "../../variables/spacing";

.services {
    background:$secondary-gradient;
    margin:var(--margin);
    padding:var(--padding);

    .intro_text {
        
        margin:var(--vertical-spacing-m) 0 var(--vertical-spacing-l) 0;
        width:70%;
    
        @include large-phone {
            width:100%;           
        }
        
    }
}